{% extends 'base.html.twig' %}

{% block body %}

  <div>
    <h1>Developers</h1>

    {{ form_start(developer_form) }}
    {{ form_widget(developer_form) }}
    {{ form_end (developer_form) }}
</div>
{% endblock %}